<form action="https://gateway.fidelipay.co.uk/paymentform/" method="post">

			<input type="hidden" name="merchantID" value="101093">

			<input type="hidden" name="action" value="SALE">

			<input type="hidden" name="type" value="1">

			<input type="hidden" name="countryCode" value="826">

			<input type="hidden" name="currencyCode" value="826">

			<input type="hidden" name="amount" value="1001">

			<input type="hidden" name="orderRef" value="Test purchase">

			<input type="hidden" name="transactionUnique" value="57404a3759f6a">

			<input type="hidden" name="redirectURL" value="http://localhost:3000/">

			<input type="hidden" name="signature" value="42be51036e6ce16bba8a596fea5f16cc5416f666b56ae6d7237080a16840ffa83e4fc1ec33ad3c56f6880148cece61856d5333e24055fe4e98a49a15adc6072c">

		<input type="submit" value="Pay Now">
</form>
